<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="CrypticPassword" Language="1033" Version="1.5.0.0" Manufacturer="Anoop Kumar Narayanan" UpgradeCode="96E7BB53-03DF-48F9-8204-1D9EDB5E5F9F">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of CrypticPassword is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="CrypticPassword" Level="1">
      <ComponentGroupRef Id="CrypticPasswordComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="CrypticPassword" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="CrypticPassword" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="CrypticPasswordComponents" Directory="INSTALLFOLDER">
      <Component Id="CrypticPasswordExecutable" Guid="D3D1EF44-3E06-40A2-93C5-2CB0A43D929E">
        <File Id="CrypticPasswordExe" Source="..\build\Release\CrypticPassword.exe" KeyPath="yes" />
        <Shortcut Id="StartMenuShortcut" Directory="ApplicationProgramsFolder" Name="CrypticPassword" WorkingDirectory="INSTALLFOLDER" IconIndex="0" Advertise="yes" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\CrypticPassword" Name="installed" Type="integer" Value="1" KeyPath="no" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
